*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     overflow-x: hidden; /* Impede a barra de rolagem horizontal */
}
.container {
    margin: 0 auto;
    
}
@media (min-width: 576px) {
   .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
   .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
   .container {
        max-width: 960px;
    }
    
}
@media (min-width: 1200px) {
   .container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
   .container {
        max-width: 1320px;
    }
}
.carousel {
    position: relative;
  }
  
  .carousel-indicators {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .carousel-inner {
    position: relative;
  }
  
  .carousel-item {
    display: none;
  }
  
  .carousel-item.active {
    display: block;
  }
  
  .carousel-caption {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 20px;
    height: 20px;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  