* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin:0;
}

.mySlides {
  display: none;
}

.mySlides  img {
  vertical-align: middle;
  width: 100%;
  object-fit: cover; /* Garante que a imagem cubra todo o espaço do contêiner */
  height: 620px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Text */
.texto {
  background-color: rgba(0, 0, 0, 0.4);
  color: #f2f2f2;
  font-size: 15px;
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column; /* Empilha os itens verticalmente */
  justify-content: center;
  align-items: center;
}

.texto h3 {
  font-family: 'Roboto', sans-serif;
  color: #2ec27e;
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  margin: 10px 0;
  text-align: center;
}

/* Em ecrãs mais pequenos, diminuir o tamanho do texto */
@media only screen and (max-width: 767px) {
  .texto h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px; /* Reduzi o tamanho do título para ajustar melhor */
    line-height: 40px;
    margin: 10px 0;
    text-align: center;
    font-weight: 700;
    color: rgb(46, 194, 126, 1);
  }
}

.texto p {
  margin: 0 15px 15px 15px;
}

#botao {
  text-decoration: none;
  color: #f2f2f2;
  padding: 10px 20px;
  display: flex; /* Para alinhar horizontalmente */
  align-items: center; /* Alinha verticalmente */
  gap: 10px; /* Espaço entre o texto e o ícone */
  background-color: #2ec27e;
  border-radius: 5px;
  margin: 15px;
}

#botao:hover {
  background-color: #008a71;
}

#botao span {
  flex: 1; /* Faz o texto ocupar todo o espaço disponível */
  line-height: 24px; /* Ajuste conforme necessário */
}

#botao svg {
  width: 20px;
  font-size: 20px;
  fill: #f2f2f2;
  line-height: 25px;
  overflow-wrap: break-word;
  text-align: center;
}

/* Texto do Numero (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dots {
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}