* {
  margin: 0;
  padding: 0;
   box-sizing: border-box;
}
body {
   width: 100%;
   font-family: Consolas,monospace;
   overflow: auto;
   background-color: #141414;
}
.conteiner {
   padding: 20px;
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
}
.titulo-secao {
 font-size: 40px;
 font-weight:600;
 margin-top: 40px;
 margin-bottom: 40px;
 text-align: left;
 color: #ffffff;
}
.topo {
 padding-bottom: 20px !important;
}
.linha {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;     /* Ajuste para compensar o padding das colunas */
}
/* CSS ajustado para garantir altura igual para imagens na terceira linha */
.linha:nth-child(3) .altura {
  height: 300px; /* Defina a altura desejada para as imagens da terceira linha */
}
.coluna {
  flex: 1 0 0;    /* Flex-grow: 1 e flex-shrink: 0, para ocupar espaço disponível */
  max-width: 100%; 
  padding: 0 10px;  /* Espaçamento interno das colunas */
  box-sizing: border-box; /* Garante que padding não aumente a largura */
}
.linque {
  text-decoration: none;
  margin-bottom: 20px;
  color: #02733e;
}
.linque:hover {
  color: #154030;
}
.coluna .destaque  {
 font-size: 30px;
}
.altura {
  height: 200px; /* Defina a altura desejada para as imagens */
  object-fit: cover; /* Garante que a imagem cubra completamente o espaço especificado */
  border-radius: 5px; /* Opcional: arredonda as bordas das imagens */
}
.img-responsiva  {
  width: 100%;   /* Ocupa 100% da largura da coluna */
  height: auto;   /* Mantém a proporção da imagem */
  border-radius: 5px;
}
.titulo {
  font-size: 20px;
  color: #008a71;
}
.paragrafo {
  color: #ffffff;
  margin-bottom: 1rem;
  line-height: 1.6;
  font-size: 20px;
}
.componente {
 text-align: center;
 margin: 20px;
}

.botao {
  background-color: #008b71;
  color: #ffffff;
  display: inline-block;
  margin: 20px;
  padding: 20px 30px;
  width: 100%;
  border: solid 1px #008a71;
  border-radius: 5px;
  text-decoration: none;
}

.botao:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #008a71;
}

@media  (max-width: 768px) { 
 .coluna {
   flex: 0 0 100%; /* Em telas menores, ocupa 100% da largura */
   max-width: 100%;
 }
}