* {
  margin: 0;
  padding: 0;
   box-sizing: border-box;
}
body {
   width: 100%;
   font-family: 'Roboto', sans-serif;
   overflow: auto;
}
.conteiner {
   padding: 0 20px;
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
}
.titulo-secao {
 font-size: 40px;
 font-weight:600;
 margin-top: 40px;
 margin-bottom: 40px;
 text-align: center;
 color: #008a71;
}
.topo {
 padding-bottom: 20px !important;
}
.linha {
   display: flex;
   flex-wrap: wrap;
   margin: 0 -10px;     /* Ajuste para compensar o padding das colunas */
}
/* CSS ajustado para garantir altura igual para imagens na terceira linha */
.linha:nth-child(3) .altura {
  height: 300px; /* Defina a altura desejada para as imagens da terceira linha */
}
.coluna {
   flex: 1 0 0;    /* Flex-grow: 1 e flex-shrink: 0, para ocupar espaço disponível */
   max-width: 100%; 
   padding: 0 10px;  /* Espaçamento interno das colunas */
  box-sizing: border-box; /* Garante que padding não aumente a largura */
}
.linque {
  text-decoration: none;
  margin-bottom: 20px;
  color: #008a71;
  display: block;
}
.coluna .destaque  {
 font-size: 30px;
}
.altura {
  height: 200px; /* Defina a altura desejada para as imagens */
   object-fit: cover; /* Garante que a imagem cubra completamente o espaço especificado */
   border-radius: 5px; /* Opcional: arredonda as bordas das imagens */
}
.img-responsiva  {
   width: 100%;   /* Ocupa 100% da largura da coluna */
   height: auto;   /* Mantém a proporção da imagem */
   border-radius: 5px;
}
.titulo {
   font-size: 20px;
  color: #008a71;
}
.paragrafo {
   color: #3d393c;
   margin-bottom: 1rem;
   line-height: 1.6;
   font-size: 18px;
}
.mais-noticias {
 text-align: center;
 margin-top: 20px;
}

.botao {
  margin-top: 20px;
  margin-bottom: 80px !important;
  padding: 10px 15px;
  border: solid 1px #008a71;
  border-radius: 5px;
  display: inline-block;
  width: 33.3333333333%;
  background-color: transparent;
  color: #008a71;
  text-decoration: none;
}

.botao:hover {
  text-decoration: none;
  background-color: #008b71;
  color: #ffffff;
}

@media  (max-width: 768px) { 
 .coluna {
   flex: 0 0 100%; /* Em telas menores, ocupa 100% da largura */
   max-width: 100%;
 }
}